# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Secrets
.env
.env.*
*.env

# Logs
*.log

# Spark
spark-warehouse/
metastore_db/

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
